* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding-left: 5vw;
    padding-right: 5vw;
}

header {
    height: 10vh;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    background-color: rgb(0, 166, 255);
    background-size: 20%;
    margin-bottom: 3vh;
    width: 100%;
    position: absolute;
    left: 0;
}

header > img{
    height: 6vh;
    margin-top: 4vh;
    margin-left: 5vw;
}

.title-section > h1{
    font-size: 4vw;
}
.title-section > #author{
    font-size: 1.5vw;
}
.title-section > #author a{
    text-decoration: none;
}
.title-section > #date{
    font-size: 1vw;
    margin-bottom: 4vh;
}
.title-section > img:nth-of-type(1){
    width: 48vw;
    height: 30vw;
}
.title-section > img:nth-of-type(2){
    width: 40vw;
    height: 30vw;
}
.title-section > .img-description{
    font-size: 1vw;
}


/* ARTICLE SECTION */

.article-section > *{
    margin-top: 3vh;
}
.article-section > *{
    font-size: 1.2vw;
}
.article-section .higlight{
    background-color: rgba(230, 255, 6, 0.766);
}

/* unordered list */
.article-section > ul{
    padding-left: 20px;
}

/* table */
.article-section table{
    border-collapse: collapse;
}
.article-section thead > tr{
    background-color: rgb(0, 166, 255);
    color: white;
}
.article-section th{
    text-align: left;
}
.article-section td{
    width: 23vw;
}
.article-section td:nth-of-type(3n){
    width: 49vw;
}
.article-section tbody > tr:nth-child(2n-1){
    background-color: rgb(192, 229, 249);
}


/* FOOTER  */
footer {
    margin-top: 6vh;
}

footer > h3{
    font-size: 1.6vw;
    color: gray;
}

footer .image{
    background-color: blue;
    width: 25vw;
    height: 25vw;
    margin-top: 5px;
    font-size: 1.8vw;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
footer .image#foot-img-1{
    background-image: url("../img/monitor.jpg");
}

footer .image#foot-img-2{
    background-image: url("../img/graph.jpg");
}